.start{
    background-color: rgb(252, 252, 204);
    border: 2px solid rgb(252, 252, 204);
    border-radius: 20px;
    padding: 8px 80px;
}

.start h1{
    font-size: 3em;  
    margin-bottom: 18px;  
}

.start button{
    margin-top: 18px;
    margin-bottom: 30px;
}
